@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "DMSans";
  src: url('./fonts/DMSans.woff2');
}

@font-face {
  font-family: "Inter";
  src: url('./fonts/Inter.woff2');
}

:root  {
  --display-font: "DMSans", Helvetica, Arial;
  --text-font: "Inter", Helvetica, Arial;
  --background: hsl(349 3% 100%);
  --foreground: hsl(349 3% 10%);
  --card: hsl(349 3% 100%);
  --card-foreground: hsl(349 3% 15%);
  --popover: hsl(349 3% 100%);
  --popover-foreground: hsl(349 95% 10%);
  --primary: hsl(349 91.3% 54.9%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(349 10% 90%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(311 10% 95%);
  --muted-foreground: hsl(349 3% 40%);
  --accent: hsl(311 10% 90%);
  --accent-foreground: hsl(349 3% 15%);
  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(349 3% 100%);
  --border: hsl(349 20% 82%);
  --input: hsl(349 20% 50%);
  --ring: hsl(349 91.3% 54.9%);
  --radius: 0.5rem;
}
.dark  {
  --background: hsl(349 10% 10%);
  --foreground: hsl(349 3% 100%);
  --card: hsl(349 3% 10%);
  --card-foreground: hsl(349 3% 100%);
  --popover: hsl(349 10% 5%);
  --popover-foreground: hsl(349 3% 100%);
  --primary: hsl(349 91.3% 54.9%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(349 10% 20%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(311 10% 25%);
  --muted-foreground: hsl(349 3% 65%);
  --accent: hsl(311 10% 25%);
  --accent-foreground: hsl(349 3% 95%);
  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(349 3% 100%);
  --border: hsl(349 20% 50%);
  --input: hsl(349 20% 50%);
  --ring: hsl(349 91.3% 54.9%);
  --radius: 0.5rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1, h2, h3, h4, h5, h6, header div.container, .title {
  font-family: var(--display-font);
  @apply tracking-tight
}

body {
  font-family: var(--text-font);
  @apply antialiased;
}

body:has(#site-load) {
  @apply pointer-events-none select-none max-h-screen overflow-y-hidden;

  #site-load {
    @apply fixed top-0 left-0 w-full h-full bg-white z-50 flex justify-center items-center transition-opacity;

    .site-load-container {
      @apply flex flex-col items-center justify-center gap-4 w-fit;
      
      h1 {
        @apply text-4xl sm:text-5xl md:text-6xl font-bold text-primary m-0;

        span { @apply font-medium; }
      }

      .load-bar {
        @apply flex flex-row gap-1 w-full h-1 bg-muted/50 rounded-md overflow-hidden;

        .bar {
          @apply w-full h-full bg-primary rounded-md;
          animation: load-bar 5s ease-in-out infinite;
        }

        .bar:nth-child(2) { animation-delay: -2.5s; }
      }
    }
  }
}

footer {
  a, p, li {
    @apply text-muted-foreground;
  }
}

@keyframes load-bar {
  0% { width: 2%; }
  50% { width: 98%; }
  100% { width: 2%; }
}

a:not(header a) {
  @apply underline;
}

main a {
  @apply text-primary;
}

a {
  @apply transition-[color] duration-200;
  &, button {
    @apply cursor-pointer;
  }
}