---
import { Image } from "astro:assets";

import BrandIcon from "@assets/servisalud.webp";
---

<footer class="border-t bg-muted" id="footer">
  <div class="container mx-auto max-w-4/5 py-8 md:py-12">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="flex flex-col items-start gap-4">
        <div class="flex items-center gap-2">
          <Image
            src={BrandIcon}
            alt="ServiSalud Logo"
            width={156}
            height={156}
            quality={100}
            decoding="async"
            loading="lazy"
            class="rounded-md max-w-[32px] max-h-[32px] bg-muted/50"
          />
          <h3 class="text-2xl font-bold">Servi<span class="font-medium">Salud</span></h3>
        </div>
        <p class="text-base">
          Conectando pacientes con servicios médicos en toda Venezuela.
        </p>
        <div class="flex flex-row flex-wrap justify-left items-center gap-3 min-h-6 w-full *:max-w-12">
          <a href="https://www.facebook.com/servisalud.app" aria-label="Facebook" class="flex-1 aspect-square bg-white border border-blue-600 rounded-full w-fit" />
          <a href="https://www.instagram.com/servisalud.app" aria-label="Instagram" class="flex-1 aspect-square bg-white border border-rose-500 rounded-full w-fit" />
          <a href="https://www.twitter.com/servisalud.app" aria-label="X (Twitter)" class="flex-1 aspect-square bg-white border border-neutral-950 rounded-full w-fit" />
          <a href="https://www.tiktok.com/@servisalud.app" aria-label="TikTok" class="flex-1 aspect-square bg-white border border-neutral-950 rounded-full w-fit" />
          <a href="https://www.linkedin.com/servisalud.app" aria-label="LinkedIn" class="flex-1 aspect-square bg-white border border-blue-600 rounded-full w-fit" />
        </div>
      </div>

      <div>
        <h3 class="font-medium mb-3">Enlaces</h3>
        <ul class="space-y-2 text-base">
          <li>
            <a href="/#inicio">
              Inicio
            </a>
          </li>
          <li>
            <a href="/#servicios">
              Servicios
            </a>
          </li>
          <li>
            <a href="/#como-funciona">
              Cómo Funciona
            </a>
          </li>
          <li>
            <a href="/#descargar">
              Descargar
            </a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="font-medium mb-3">Legal</h3>
        <ul class="space-y-2 text-base">
          <li>
            <a href="/terms">
              Términos y Condiciones de Uso
            </a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="font-medium mb-3">Contacto</h3>
        <ul class="space-y-2 text-base">
          <li>soporte@servisalud.app</li>
          <li>Caracas, Venezuela</li>
        </ul>
      </div>
    </div>

    <div class="border-t mt-8 pt-8 text-center text-base font-medium">
      <p>© {new Date().getFullYear()} ServiSalud. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>